<h1 class="mb-3">Fighter Profile</h1>

<div class="card p-3 m-3">
    <div class="text-center">
        <img class="card-img-top mb-3 rounded" src="../assets/images/novaforca.jpg" style="width:100px;" alt="fighter-image">
    </div>
    <ul class="list-group">
        <li class="list-group">Firstname: {{ fighter.firstname }}</li>
        <li class="list-group">Surname: {{fighter.surname}}</li>
        <li class="list-group">Age: {{fighter.age}}</li>
        <li class="list-group">Belt: {{fighter.belt}}</li>
        <li class="list-group">Stripe: {{fighter.stripe}}</li>
    </ul>
</div>

<a routerLink="/fighters" class="btn btn-danger m-1">Back</a>
<a [routerLink]="['/edit-fighters/', fighterId]" class="btn btn-danger black-background white">Edit</a>
