<div class="container-fluid">
  <div class="row">
      <div class="form_bg">
          <h1 class="text-center colorHeading">Add Instructor</h1>

          <form #addInstructorForm="ngForm" (ngSubmit)="addNewInstructor(addInstructorForm)" novalidate> 
              <div class="form-group colorHeading">
                  <label for="firstname">Firstname:</label>
                  <input type="text" class="form-control" id="firstname" [(ngModel)]="instructor.firstname" name="firstname" placeholder="Enter firstname" required>
              </div>
              <div class="form-group colorHeading">
                  <label for="surname">Surname:</label>
                  <input type="text" class="form-control" id="surname" [(ngModel)]="instructor.surname" name="surname" placeholder="Enter surname">
              </div>
              <div class="form-group colorHeading">
                  <label for="age">Age:</label>
                  <input type="text" class="form-control" id="age" [(ngModel)]="instructor.age" name="age" placeholder="Enter age">
              </div>
              <div class="form-group colorHeading">
                  <label for="belt">Belt:</label>
                  <select class="form-control" id="belt" [(ngModel)]="instructor.belt" name="belt">
                      <option *ngFor="let belt of belts" [value]="belt"> {{belt}}</option>
                  </select>
              </div>
              <div class="form-group colorHeading">
                  <label for="stripe">Stripes:</label>
                  <select class="form-control" id="stripe" [(ngModel)]="instructor.stripe" name="stripe">
                      <option *ngFor="let stripe of stripes" [value]="stripe"> {{stripe}}</option>
                  </select>
              </div>

              <div class="form-group colorHeading">
                <label for="year">Years training:</label>
                <select class="form-control" id="year" [(ngModel)]="instructor.year" name="year">
                    <option *ngFor="let year of years" [value]="year"> {{year}}</option>
                </select>
            </div>

              <button type="submit" class="btn btn-danger pull-right">Submit</button>
          </form>
      </div>
  </div>
</div>
